.all-teams {
    padding: 50px;
  }
  .search-team {
    padding: 30px;
  }
  .cart {
    padding: 10px;
    height: 405px;
    border: 1px solid gray;
    margin-top: 10px;
  background-color: black;
    /* background-color: #000; */
    width: auto;
  }
  .cart:hover{
    transform: scale(1.07);
      transition: 1s ease-out;
      border: 2px solid #fd09d4 !important;
      background-color:rgb(217, 212, 212);
     
    }
  .text-area {
    text-align: center;
    /* background-color: rgb(131, 124, 124); */
   
  }